<%-include('../../shared/includes/head', {pageTitle:'signup'}) %>

<link rel="stylesheet" href="/styles/forms.styles.css">
<link rel="stylesheet" href="/styles/auth.styles.css">

</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Create New Account</h1>
        <% if (inputData.errorMessage) {%>
            <section class="alert">
                <h2>Invalid Input</h2>
                <p><%= inputData.errorMessage %></p>
            </section>
            <% } %>
        <form action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
        <p class="form-items">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="<%= inputData.email %>" required>
        </p>
        <p class="form-items">
            <label for="confirm-email">Confirm-Email</label>
            <input type="email" id="confirm-email" name="confirm-email" required>
        </p>
        <p class="form-items">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"value="<%= inputData.password %>" minlength="6" required>
        </p>
        <p class="form-items">
            <label for="fullname">Fullname</label>
            <input type="text" id="fullname" name="fullname" value="<%= inputData.fullname %>" required>
        </p>
        <p class="form-items">
            <label for="street">Street</label>
            <input type="text" id="street" name="street" value="<%= inputData.street %>" required>
        </p>
        <p class="form-items">
            <label for="city">City/State</label>
            <input type="text" id="city" name="city" value="<%= inputData.city %>" required>
        </p>
        <p class="form-items">
            <label for="postal">Postal Code</label>
            <input 
            type="text" 
            id="postal" 
            name="postal" 
            minlength="5" 
            maxlength="12" 
            value="<%= inputData.postal %>"
            required>
        </p>

        <Button class="btn">Create account</Button>
        <p id="switch-form"><a href="/login">Login instead</a></p>
    </form>
    </main>
<%- include('../../shared/includes/footer') %>
